.quotes blockquote {
font-family: Georgia, serif;
font-style: italic;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838
}
.quotes blockquote:before {
content: "\201C";
font-size: 43px;
left: 11px;
position: absolute;
top: -16px;
color: #7a7a7a;
}
.quotes blockquote:after {
content: "\201D";
font-size: 43px;
left: 11px;
left: 92%;
position: absolute;
top: 49%;
color: #7a7a7a;
}
.quotes blockquote cite {
color: #999999;
font-size: 14px;
margin-top: 5px;
}
.quotes blockquote cite:before {
content: "\2014 \2009";
}
.quotes li {
list-style: none inside none !important;
background:none repeat scroll 0 0 transparent!important}
.quote_description {font-size: 1em}
.quote_creator{font-style:italic; text-align: right;margin-top:33px}
.quote_date {font-size:.9em; text-align: right;}