<link rel="stylesheet" type="text/css" media="all" href="<{$icms_url}>/modules/testimonials/css/style.css" />
<script src="<{$icms_url}>/modules/testimonials/js/jquery.quovolver.min.js"></script>
<{literal}>
<script>
    $(document).ready(function() {
        $('#testimonials1 .testimonials').quovolver({
            children        : 'li',
        transitionSpeed : <{/literal}><{$block.transition_speed}><{literal}>,
        autoplaySpeed : <{/literal}><{$block.autoplay_speed}><{literal}>,
 transition : <{/literal}>'<{$block.transition}><{literal}>'
        });
        // Example Two

    });
    </script><{/literal}>

<div id="testimonials1">
	<div class="testimonials">
		<ul>
			<{foreach item = testimonial from = $block.random_testimonials}>
			<li>
				<blocktestimonial>
					<div class="testimonial_description"><p><{$testimonial.description}></p></div>
					<{if $testimonial.creator && $testimonial.date}>
					<div class="testimonial_creator"><cite><{$testimonial.creator}></cite></div>
					<div class="testimonial_date"><{$testimonial.date}></div>
					<{elseif $testimonial.creator}>
					<div class="testimonial_creator"><cite><{$testimonial.creator}></cite></div>
					<{/if}>
				</blocktestimonial>
			</li>
			<{/foreach}>
	</div>
</div>
